---
import { getLocaleByUrl, getNextLocale, translations, useTranslations } from "@/i18n"
import type { Locale } from "@/i18n/config"

const locale = getLocaleByUrl(Astro.url)
const t = useTranslations(locale)

const nextLocale = getNextLocale(locale)
const emojiLocale: Record<Locale, string> = {
	en: "🇺🇸",
	es: "🇪🇸",
}

const nextLocalePath = () => {
	const pathname = Astro.url.pathname
	const path = pathname.split("/")

	const index = path.findIndex((locale) => locale in translations)

	if (index !== -1) {
		path[index] = nextLocale
		return path.join("/")
	}

	return `/${nextLocale}${pathname}`
}
---

<a
	href={nextLocalePath()}
	aria-label={t(`toggle.locale.${nextLocale}`)}
	title={t(`toggle.locale.${nextLocale}`)}
	class="rounded-sm font-emoji focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary-700 focus-visible:dark:ring-primary-400"
>
	{emojiLocale[nextLocale]}
</a>
