---
import GlassLink from "@/components/GlassLink.astro"
import LinkIcon from "@/icons/Link.astro"

interface Props {
	date: string
	title: string
	company: string
	description: string
	link: string
}

const { date, title, company, description, link } = Astro.props
---

<GlassLink href={link} class="group flex gap-x-4 text-gray-800 dark:text-gray-300">
	<div class="flex flex-col gap-y-1">
		<h3 class="text-sm text-primary-700 dark:text-primary-400">{title}</h3>
		<h4 class="font-medium text-primary-800 dark:text-primary-500">{company}</h4>
		<time class="text-sm">{date}</time>
		<p class="mt-2 text-pretty">{description}</p>
	</div>

	<div class="mr-4 hidden min-w-8 items-center justify-center sm:flex">
		<LinkIcon class="hidden group-hover:block" />
	</div>
</GlassLink>
