---
import DateHint from "@/components/curriculum/DateHint.astro"
import SimpleLink from "@/components/curriculum/SimpleLink.astro"

interface Props {
	startDate: string
	endDate?: string
	institution: string
	area: string
	link: string
}

const { startDate, endDate, institution, area, link } = Astro.props
---

<article class="flex flex-col gap-y-1">
	<header class="flex items-center justify-between gap-x-2">
		<h3 class="font-semibold text-black">
			<SimpleLink
				href={link}
				class="rounded-sm focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-500 any-hover:underline"
			>
				{institution}
			</SimpleLink>
		</h3>

		<div class="text-sm tabular-nums text-gray-500">
			<DateHint date={startDate} />
			—
			<DateHint date={endDate} />
		</div>
	</header>

	<footer>
		<p class="text-pretty font-mono text-sm text-gray-500">{area}</p>
	</footer>
</article>
