---
import { ViewTransitions } from "astro:transitions"

import DottedBackground from "@/components/DottedBackground.astro"
import NoiseBackground from "@/components/NoiseBackground.astro"
import SEO from "@/components/SEO.astro"
import Footer from "@/sections/Footer.astro"
import Header from "@/sections/Header.astro"
import "@fontsource-variable/newsreader"
import "@fontsource-variable/onest"

interface Props {
	lang: string
	title: string
	description: string
	canonical?: string
	image?: string
}

const { lang, title, description, canonical, image } = Astro.props
---

<!doctype html>
<html lang={lang}>
	<head>
		<SEO title={title} description={description} canonical={canonical} image={image} />
		<ViewTransitions />
	</head>

	<body class="flex min-h-screen flex-col px-6">
		<DottedBackground />
		<NoiseBackground />
		<Header />
		<slot />
		<Footer />
		<style is:global>
			@font-face {
				font-family: "Apple Color Emoji";
				font-display: swap;
				src: url("/fonts/apple-color-emoji.woff2") format("woff2");
			}

			:root {
				color-scheme: light;
				--background-color: #f3f2f9;
				--background-dotted: 137, 23, 152;
			}

			.dark {
				color-scheme: dark;
				--background-color: #0f004a;
				--background-dotted: 155, 67, 255;
			}

			html {
				font-family: "Onest Variable", system-ui, sans-serif;
				background: var(--background-color);
				scroll-behavior: none;
				scrollbar-gutter: stable;
				cursor: url(/cursor/light.png), auto;
				cursor: -webkit-image-set(url(/cursor/light.png) 2x), auto;
			}

			html.dark {
				cursor: url(/cursor/dark.png), auto;
				cursor: -webkit-image-set(url(/cursor/dark.png) 2x), auto;
			}

			@media screen and (prefers-reduced-motion: no-preference) {
				html {
					scroll-behavior: smooth;
				}
			}

			@supports selector(::selection) {
				::selection {
					@apply bg-primary-700 text-gray-800 dark:bg-primary-400 dark:text-white;
				}
			}

			@supports selector(::-webkit-scrollbar) {
				::-webkit-scrollbar {
					width: 0.675rem;
					border-radius: 0.675rem;
				}

				::-webkit-scrollbar-thumb {
					@apply bg-primary-700 dark:bg-primary-400;
					border: 0.125rem solid transparent;
					border-radius: 0.675rem;
					background-clip: content-box;
				}

				::-webkit-scrollbar-thumb:active {
					background-color: theme("colors.neutral.500");
				}

				::-webkit-scrollbar-track {
					background: var(--background-image);
				}

				::-webkit-scrollbar-corner {
					background: var(--background-image);
				}
			}

			@supports not selector(::-webkit-scrollbar) {
				* {
					scrollbar-width: thin;
					scrollbar-color: theme("colors.primary.400") transparent;
				}

				*:is(.dark *) {
					scrollbar-color: theme("colors.primary.700") transparent;
				}
			}
		</style>
	</body>
</html>
